<head>
    <title>рома власов</title>
    <link rel="stylesheet" type="text/css" href="styles.css">
    <meta charset="utf-8">

</head>
<body bgcolor="white">

    <div class="basic">

        <div class="fill_l">
        </div>

        <div class="title">
        </div>
            <div class="about">
            <p>Роман Власов</p>
            <p class="small-text">Санкт-Петербург → Москва</p>
            <!-- <p class="small-text">ЛЭТИ, СТЦ, Huawei</p> -->
            </div>

        <div class="fill_r">
        </div>
    </div>
    <div class="basic">

        <div class="fill_l">
        </div>
        <div class="title">
            <p>Связаться</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p>Следить</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p>Телеграм</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p>Другое</p>
        </div>
        <div class="main">
            <p class = "main-links"> Телеграм&nbsp;&#151; <a href="https://t.me/spbroma/" class="underline">t.me/spbroma</a><p>
            <p class = "main-links"> Почта&nbsp;&#151; <a href="mailto:spbroma@gmail.com" class="underline">spbroma@gmail.com</a><p>

            <p>&nbsp;</p>

            <p class = "main-links"> Инстаграм&nbsp;&#151; <a href="https://instagram.com/spbroma/" class="underline">instagram.com/spbroma</a><p>                
            <p class = "main-links"> Твитер &nbsp;&#151; <a href="https://twitter.com/spbroma/" class="underline">twitter.com/spbroma</a><p>
                    <p>
            <p class = "main-links"> Вконтакте&nbsp;&#151; <a href="https://vk.com/spbroma" class="underline">vk.com/spbroma</a><p>
            <p class = "main-links"> Фейсбук&nbsp;&#151; <a href="https://www.facebook.com/spbroma" class="underline">facebook.com/spbroma</a><p>
            <p class = "main-links"> Медиум&nbsp;&#151; <a href="https://medium.com/@spbroma" class="underline">medium.com/@spbroma</a><p>
            <p class = "main-links"> Линкедин&nbsp;&#151; <a href="https://www.linkedin.com/in/roman-vlasov-69b32b69/" class="underline">https://www.linkedin.com/in/roman-vlasov-69b32b69/</a><p>     

           
            <p>&nbsp;</p>

            <p class = "main-links"><a href="https://t.me/spbroma_exploration" class="underline">Канал</a> 🤓<p>            
            <p class = "main-links"><a href="https://t.me/one_more_stickers" class="underline"> Cтикеры</a> 🤨<p>            
            <p class = "main-links"><a href="https://t.me/huuee_bot" class="underline">Бот</a> 😶<p>

            <p>&nbsp;</p>

            <p class = "main-links"><a href="https://spbroma.github.io/grid_map/" class="underline">Плиточная карта России</a><sup class="small-text"><a href="https://gitlab.com/spbroma/grid-map-russia">(gitlab)</a></sup><p>
            <p class = "main-links"><a href="yandex_router">Оценка транспортной доступности</a> <sup class="small-text">(черновик)</sup><p>
            <p class = "main-links"><a href="https://photos.google.com/share/AF1QipN8hDkpKtpLyTDXwpEPaQ2obkUGEF7Fo_phfPTXoU3kgGlkteQpUeLJoibogGtjbA?key=RTJELURZakxVamducEZiRGloblNmVWpCdG5hMDdR" class="underline">Какие-то ещё картинки</a><p>
            <!-- <p class = "main-links"><a href="travel" class="underline">Карты поездок</a><p> -->
        </div>  

        <div class="fill_r">
<!--                 <a class="twitter-timeline" href="https://twitter.com/spbroma?ref_src=twsrc%5Etfw">Tweets by spbroma</a> 
                <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script> -->
        </div>
    </div>
</body>
